.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-navbar-list li {
    list-style: none;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
}

.header-navbar-list li:hover {
    background-color: red;
    border-radius: 5px;
}

.header-navbar-list li a {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
}
.header-navbar-list li a:hover {
    color: white;
}


