.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid red;
}

.header-logo {
    padding: 10px;
    margin: 10px;
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.header-navbar-container {
    display: flex;
    align-items: center;
}

.header-navbar {
    margin: 10px;
}

.header-navbar-list {
    display: flex;
    flex-direction: row;
}

.header-navbar-list li {
    list-style: none;
    padding: 5px 20px;
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
}

.header-navbar-list li:hover {
    background-color: red;
    border-radius: 5px;
}

.header-navbar-list li a {
    text-decoration: none;
    color: black;
}
.header-navbar-list li a:hover {
    color: white;
}

.header-logo a
{
    text-decoration: none;
    color: red;
}

