main
{
	margin: 11vh 0 calc(5vh + 2em);
	background: #fff;
	width: 90%;
	padding: 2em 5% 0;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 499px) {
	main
	{
		margin: 45px 0 calc(5vh + 2em);
	}
}