.header-container
{
   width: 100%;
   position: fixed;
   background-color: darkred;
   height: 20vh;
   top: 0;
   left: 0;
   color: white;
   text-decoration: none;
   
}

@media screen and (min-width: 800px) {
    .header-toolbar
    {
        display: flex;
        align-items: center;
        height: 100%;
    }
  }

  @media screen and (min-width: 500px) and (max-width: 800px) {
    .header-toolbar
    {
        display: none;
    }
  }


.logo a
{
    text-decoration: none;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    min-width: 3rem;
    min-height: 3rem;
}

.header-menu-sites a
{
    color: white;
    text-decoration: none;
}

.header-menu-sites ul
{
    list-style: none;
}

.header-menu-sites a:hover
{
    color: lightgray;
}

.header-menu-sites li
{
    padding-right: 4.5em;
    display: inline-block;
}

.space
{
    flex:1;
}

.logo img
{
    width: 4vw;
    height: 9vh;
}