.header-container
{
   width: 100%;
   position: fixed;
   background-color: darkred;
   height: 11vh;
   top: 0;
   left: 0;
   color: white;
   text-decoration: none;
}

@media screen and (max-width: 499px) {
    .header-container
    {
    height: 45px;
    }
}

@media screen and (min-width: 801px) {
    .header-toolbar
    {
        display: flex;
        align-items: center;
        height: 100%;
    }
  }

  @media screen and (max-width: 800px) {
    .header-toolbar
    {
        display: none;
    }
  }

.logo a
{
    text-decoration: none;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    min-width: 3rem;
    min-height: 3rem;
}

.header-menu-sites ul
{
    list-style: none;
}

.header-menu-sites li
{
    padding-right: 4.5em;
    display: inline-block;
}

.header-menu-sites a
{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    transition: color .3s ease-in-out;
}

.header-menu-sites a:hover
{
    color: lightgray;
}


.space
{
    flex:1;
}

.logo img
{
    height: 9vh;
}
