.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

@media screen and (max-width: 600px) {
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 240vh;
    }
}

.project {
    border: 1px solid black;
    margin: 30px;
    width: 300px;
    background-image: url('../images/unnamed.jpg');
    background-size: cover;
}

.project_title {
    padding: 10px;
    height: 300px;
    font-size: 20px;
    font-weight: bold;
}

.project_btn {
    background-color: darkred;
    color: white;
    border: none;
    width: 150px;
    height: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
