.togglelist-container
{
    margin-top: 20vh;
}

.ul-toggle
{
    list-style: none;
    margin: 0;
    padding: 1em;
}

.ul-toggle a
{
   text-decoration: none;
   color: black;
}

@media screen and (min-width: 800px)
{
    .ul-toggle
    {
        display: none;
    }
}