.togglelist-container
{
    position: fixed;
    width: 100%;
    background-color: darkred;
    /* margin-top: 11vh; */
    z-index: 1;
}


.ul-toggle
{
    list-style: none;
    margin: 0;
    padding: 1em;
}


.ul-toggle a
{
    font-size: 1.2em;
    line-height: 2.4em;
    text-decoration: none;
    color: #fff;
    width: auto;
    font-weight: bold;
    position: relative;
    transition: color .3s ease-in-out;
}
.ul-toggle a::after
{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: .2em;
    background: transparent;
    display: block;
    transition: background .3s ease-in-out;
}


.ul-toggle a:hover,
.ul-toggle a:active
{
    color: #aaa;
}


@media screen and (min-width: 801px)
{
    .ul-toggle
    {
        display: none;
    }
}